@import url("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css");

.yog-form-slider {
margin-left:10px;
margin-right:10px;
margin-bottom:10px;
}

.loading {
background-image:url('../../../../../wp-admin/images/loading.gif');
background-repeat:no-repeat;
background-position:top right;
display:block;
}
  .object-search-result {
  display:none;
  }
